<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a routerLink="./painel-principal"> <img src="./assets/img/logo.png" alt=""></a>
    <div class="container">
        <a class="navbar-brand" routerLink="./painel-principal">Loja de Jogos</a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="./painel-principal">Painel Principal</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="./cadastro-produto">Cadastro</a>
            </li>
        </ul>
    </div>
</nav>